@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    
    #hamburger-nav {
        display: flex;
    }

    .desktop-progress {
        display: none;
    }

    .mobile-progress {
        display: flex;
        /* position: absolute;
        top: 15%;
        left: 25%;
        width: 50%;
        justify-content: space-around; */
    }

    .project-content {
        left: 25%;
        top: 30%;
    }
}