/* index */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow-y: scroll;
    font-family: "Nunito Sans", sans-serif;
}

.city {
    /* div setting */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;

    /* background setting */
    background-image: url(/image/city.png);
    background-position: bottom;
    background-size: auto;
    background-repeat: repeat-x;
    filter: grayscale(100%);
}

i {
    background: linear-gradient(transparent, #909090);
    position: fixed;
    height: 5vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    rotate: -5deg;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translate(5vh) translateY(calc(100vh + 20px));
    }
}

/* home setting */
.home {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;

    color: #909090;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home p {
    margin: 10px auto;
}

.name {
    position: relative;
    color: #494848;
    font-size: 3rem;
    font-family: "VT323", sans-serif;
}

.name:before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    animation: type 5s linear infinite;
}

.index-bird {
    width: 128px;
    height: 128px;
    position: absolute;
    margin: -50px 0 0 -210px;

    filter: drop-shadow(1px 1px 20px white);
}
@keyframes type {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 250px;
    }
}

#index-h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #B4B4B4;
}

#index-p1 {
    font-style: italic;
}

.home a {
    padding: 30px;
    font-size: larger;
    color: #B4B4B4;
    text-decoration: none;
}

.home a:hover {
    color: white;
    text-shadow: 1px 1px 20px white;
    font-size: x-large;
}
/* nav setting */
a, .bth {
    transform: all 300ms ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.link {
    color: #909090;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
.link:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}

.logo {
    color: #909090;
    font-size: 2rem;
    margin-left: 10%;
}

.selected {
    color: white;
    text-shadow: 1px 1px 20px white;
}

/* desktop menu*/
nav, .links {
    display: flex;
}

.links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    margin-right: 5vw;
}

/* hamburger menu for mobile */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    margin-right: 5vw;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
    border-bottom-left-radius: 0.5px;
    border-bottom-right-radius: 0.5px;
}

.hamburger-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(73, 72, 72, 0.1); /* #494848 */
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    backdrop-filter: blur(10px);
}

.hamburger-links a {
    display: block;
    padding: 10px;
    text-align: left;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.hamburger-links li {
    list-style: none;
}

.hamburger-links.open {
    max-height: 500px;
    /* min-width: 100px; */
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}




/* Profile */

/* desktop-progress setting*/
.desktop-progress {
    margin-left: 10%;
    margin-top: 10%;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);

    min-width: 200px;
    min-height: 300px;
}

.profile-bird {
    width: 128px;
    height: 128px;
    position: fixed;
    margin: -375px 0px 0px 0px;
    filter: drop-shadow(1px 1px 20px white);
}

.progress-links {
    padding-left: 10px;
    padding-bottom: 10px;
}

.progress-link {
    line-height: 2;
}

.icon {
    width: 12vw;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 100%;
    margin: auto;
    max-width: 130px;
}

.desktop-progress .media-menu {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    margin-top: 210%;
}

.media-menu a {
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin: 0 5px;

}

.media-menu .button {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.2);

    color: #909090;
    font-size: 35px;
    line-height: 55px;

}

.button:hover {
    color: white;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
}

/* mobile-progress setting*/
.mobile-progress {
    width: 100%;

    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);

    max-height: 139px;
    margin-bottom: 5%;
}

.mobile-progress .profile-bird {
    margin: -102px 0 0 10px;
}

.mobile-progress .icon {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100px;
}

.mobile-progress .progress-links {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0;
}

.mobile-progress .media-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.mobile-progress .media-menu a {
    width: 30px;
    height: 30px;

    margin: 5px 0;
}

.mobile-progress .button {
    font-size: 20px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.0);
}

/* profile-content setting */
.profile-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 40%;
    min-height: 200%;
}

#About, #Skill, #Experience, #Award {
    height: auto;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    color: #909090;
    min-height: 300px;
    margin: 10px;
}

.content-box span {
    font-size: large;
    font-weight: bold;
    color: #B4B4B4;
}

.profile-about h1 {
    padding: 10px;
}
.profile-about h1::after {
    display: inline-block;
    content: "";

    margin: 0px 10px;
    width: 30px;
    height: 30px;
    background: url('/image/user.png') no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.profile-about p {
    padding: 5px 10px;
    margin: 0 30px;
}

.profile-content .content-box a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #B4B4B4;
    color: #B4B4B4;
}

.profile-content a:hover {
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
    color: white;
}

.profile-content h1,
.profile-content h3 {
    color: #d4d4d4;
}

.profile-skill h1 {
    padding: 10px;
}
.profile-skill h1::after {
    display: inline-block;
    content: "";

    margin: 0px 10px;
    width: 30px;
    height: 30px;
    background: url('/image/skill.png') no-repeat;
    background-size: cover;
}

.skill-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 30px;
}

.dash {
    border: 1px solid #909090;
    width: 20vw;
    height: 0px;
    max-width: 200px;
}

.skill-content h3 {
    padding-bottom: 5px;
}

.skill-content ul {
    margin: 0 10px;
}

.skill-content ul ul {
    margin: 10px 0;
    padding-left: 30px;
}

.profile-experience h1 {
    padding: 10px;
}

.profile-experience h1::after {
    display: inline-block;
    content: "";

    margin: 0px 10px;
    width: 30px;
    height: 35px;
    background: url('/image/exp.png') no-repeat;
    background-size: cover;
}

.exp-content {
    margin: 0 30px;
    padding-left: 30px;
    border-left: 2px solid #909090;
}

.exp-content div {
    padding: 15px 0;
    margin: 5px 0;
}

.exp-content div::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #909090;
    position: absolute;
    left: 23px;
}

.exp-content p {
    padding-top: 5px;
    padding-left: 20px;
}

.exp-content h3 {
    color: #B4B4B4;
}

.project-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 40%;
    min-height: 250%;
}
/* .profile-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    left: 40%;
    min-height: 200%;
} */
.timeline {
    border-left: 2px solid #909090;
    padding-top: 20px;
    padding-left: 50px;
}

.project-content-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    
    color: #909090;
}

.project-content-box::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #909090;
    position: absolute;
    left: -61px;
}

.project-content-box::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18px;
    left: -11px;
    transform: rotate(-45deg);

    border-left: 2px solid rgba(255,255,255,0.2);
    border-right: 2px solid transparent;
    border-top: 2px solid rgba(255,255,255,0.2);
    border-bottom: 2px solid transparent;
}

.project-desktop-progress {
    min-width: 200px;
    min-height: 150px;
}

.project-bird {
    width: 128px;
    height: 128px;
    position: fixed;
    margin: -227px 0px 0px 0px;
    filter: drop-shadow(1px 1px 20px white);
}

.project-mobile-progress {
    margin-bottom: 50px;
}

.mobile-progress .project-bird {
    margin: -102px 0px 0px -0px;
}

.project-desktop-progress .progress-links,
.project-mobile-progress .progress-links {
    padding: 10px 10px;
}

.project-content-box h1 {
    color: #d4d4d4;
    padding-bottom: 10px;
}

.project-content-box h3 {
    color: #d4d4d4;
    padding-left: 30px;
    padding-bottom: 1px;
}

.project-content-box .dash {
    margin-left: 30px;
    margin-bottom: 10px;
}

.project-content-box p {
    padding-left: 30px;
    padding-bottom: 50px;
}

.project-content-box span {
    font-size: large;
    font-weight: bold;
    color: #B4B4B4;
}

#healthybeacon-icon {
    padding: 0px 10px;
    width: 5vw;
    border-radius: 30%;
}

.project-content-box a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #B4B4B4;
    color: #B4B4B4;
}

.project-content-box a:hover {
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
    color: white;
}

#eureka-homepage {
    padding: 0px 10px;
    width: 15vw;
}

.contact-content {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 25%;

    color: #B4B4B4;
    
    display: flex;
    flex-direction: column;
}

.contact-content .dash {
    margin: 15px 0px;
    min-width: 450px;
    border-color: #B4B4B4;
}

.contact-content .contact-container {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    padding-left: 30px;
}

.contact-content .fa-regular,
.contact-content .fa-brands {
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 100%;

    color: #909090;
    font-size: 30px;
    min-width: 45px;
    min-height: 45px;
}

.contact-container p {
    font-size: 20px;
    line-height: 45px;
    padding-left: 20px;
}

.contact-container a {
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #909090;
    color: #909090;
}

.contact-container a:hover {
    text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
    color: white;
}

.contact-bird {
    width: 128px;
    height: 128px;
    position: absolute;
    transform: scaleX(-1);
    filter: drop-shadow(1px 1px 20px white);
    margin: -47px 0px 0px 250px;
}